<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user_info %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to user_path(@book.user_id) do %>
            <%= image_tag @user_info.get_profile_image(100,100) %><br>
            <%= @user_info.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td id="favorite_btn_<%= @book.id %>">
            <%= render "favorites/btn", book: @book %>
          </td>
          <td id="comment_counter">
            <%= render "book_comments/counter", book: @book %>
          </td>
          <td>
              <% if @book.user == current_user %>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
              <% end %>
          </td>
          <td>
              <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
              <% end %>
          </td>
        </tr>
      </table>

        <% if @book_comment.present? %>
         <%= render 'layouts/errors', obj: @book_comment %>
        <% end %>
       <div id="comment_index">
          <%= render "book_comments/index", book: @book %>
        </div>
        <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>