<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user_info %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to user_path(@book.user_id) do %>
            <%= image_tag @user_info.get_profile_image(100,100) %><br>
            <%= @user_info.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.favorited_by?(current_user) %>
             <p>
               <%= link_to book_favorites_path(@book), method: :delete do %>
               ❤<%= @book.favorites.count %>
               <% end %>
             </p>

            <% else %>
             <p>
               <%= link_to book_favorites_path(@book), method: :post do %>
               🩵<%= @book.favorites.count %>
               <% end %>
             </p>
            <% end %>
          </td>
          <td>
            <p>コメント数:<%= @book.book_comments.count %></p>
          </td>
          <td>
              <% if @book.user == current_user %>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
              <% end %>
          </td>
          <td>
              <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
              <% end %>
          </td>
        </tr>
      </table>

      <table>
        <% if @book_comment.present? %>
         <%= render 'layouts/errors', obj: @book_comment %>
        <% end %>
       <div>
       <% @book.book_comments.each do |book_comment| %>
         <p><%= image_tag book_comment.user.get_profile_image(50,50) %>
         <%= book_comment.comment %>
         <% if book_comment.user == current_user %>
           <%= link_to "Destroy", book_book_comment_path( book_comment.book, book_comment), method: :delete, class: "btn btn-sm btn-danger" %>
         <% end %><br>
         <%= book_comment.user.name %></p>
       <% end %>
       </div>

      <div>
      <%= form_with model: [ @book, @book_comment] do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: "w-100" %><br>
        <%= f.submit "送信" %>
      <% end %>
      </div>
    </div>
  </div>
</div>